/* =HTML & BODY
----------------------------------------------- */

html {
    background: #2e303c url('../img/stripes-bottom.png') repeat top left;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: url('../img/stripes-top.png') repeat top left;
    color: #2d2f45;
    font-family: Arial;
    font-size: 14px;
    height: 100%;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
}

/* =HEADINGS
----------------------------------------------- */

h1 {
    color: #2d2f45;
    font-family: 'Cantarell', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #999999;
}

h2 {
    color: #2d2f45;
    font: 15px/27px Arial;
    margin-bottom: 0;
}

h3 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 7px;
}

h4 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

h5 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}

h6 {
    font-style: italic;
    margin-bottom: 20px;
}

/* =TYPOGRAPHY
----------------------------------------------- */

p {
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}

ul, ol {
    line-height: 26px;
    margin-bottom: 15px;
}

/* =LINKS
----------------------------------------------- */

a, a:visited {
    border: 0 none;
    color: #2d2f45;
    cursor: pointer;
    outline: 0 none;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

/* =FIGURES
----------------------------------------------- */

img {
	max-width: 100%;
}

 /* =HEADER
----------------------------------------------- */

header {
    height: 80px;
    margin: auto;
    padding: 25px;
    padding-right: 0px;
    max-width: 935px;
}

#logo {
    float: left;
}

/* =NAVIGATION
----------------------------------------------- */

nav > ul {
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
    list-style: none outside none;
}

nav > ul > li {
    display: inline;
}

nav > ul > li > a,
nav > ul > li > a:visited {
    color: #e5e5e5;
    display: block;
    float: left;
    padding: 11px 20px 9px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav > ul > li > a:hover {
    background-color: #474953;
    color: #e5e5e5;
}

nav > ul > li:first-child a {
    border-left: none;
}

/* =CONTENT
----------------------------------------------- */

#content {
    background: #ffffff url('../img/stripes-white.png') repeat top left;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    /*min-height: 320px;*/
}

#content > div:first-child {
    margin: auto;
    padding: 20px 25px 0px 25px;
	max-width: 930px;
}

#secondary {
    color: #ffffff;
    margin: auto;
   	max-width: 960px;
}

#secondary h3 {
    color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;
}

#secondary > div:first-child {
    border-bottom: solid 1px #474953;
    padding: 35px 0px;
}

#secondary a {
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: underline;
}

#secondary a:hover {
    color: #cccccc;
}

#secondary .left {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    float: left;
    padding: 0 25px 0 25px;
    width: 50%;
}

#secondary .left p {

}

#secondary .right {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    overflow: hidden;
    padding: 0 25px 0 25px;
    width: auto;
}

#secondary .right a {
    text-decoration: none;
}

#secondary .right ul {
    font-family: Arial;
}
 
#secondary .right ul li {
    background: url('../img/bullet.png') no-repeat center left;
    line-height: 24px;
    margin-bottom: 0.5em;
    padding: 0px 0px 7px 20px;
}

	#secondary .right ul.small li {
		line-height: 18px;
	}

#secondary .right ul li a {
    font-size: 11px;
}

/* =FOOTER
----------------------------------------------- */

footer {
    margin: auto;
    padding: 35px 20px 40px 20px;
    text-align: center;
    max-width: 960px;
}

footer > p {
    color: #b2b2b2;
    font-size: 11px;
    line-height: 20px; 
    margin-bottom: 0px;       
}

footer table {
    margin: auto;
}

footer table tr td {
    padding: 0px 8px;
}

footer table img {
    vertical-align: text-bottom;
    padding-right: 5px;
}

footer a,
footer a:visited {
    color: #b2b2b2;
    font-size: 11px;
    line-height: 20px; 
    margin-bottom: 0px;       
    text-decoration: none;
}

footer a:hover,
footer a:hover:visited {
    color: #b2b2b2;
    text-decoration: underline;
}

/* =PAGE - HOME
----------------------------------------------- */

.spotlight {
    background: url('../img/Portfolio/spotlight.png') no-repeat right bottom;
    margin: 0 auto;
    height: 290px;
    text-align: center;
    max-width: 930px;
}

.spotlight h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
    text-shadow: 0 1px 2px #b3b3b3;
	text-transform: none;
}

.spotlight h1 span {
    font-size: 30px;
}

.spotlight h1 span b {
    font-weight: 600;
	text-transform: uppercase;
}

.spotlight h1 i {
	white-space: nowrap;
}

.spotlight > div:first-child {
    float: left;
    height: 264px;
}

.spotlight p {
    font-size: 17px;
    height: 135px;
    line-height: 24px;
    margin: 26px 0px 10px 51px;
    text-align: left;
    width: 351px;
}

.spotlight #ctas {
	width: 450px;
}

/* =PAGE - PORTFOLIO (& SUB PORTFOLIO PAGES)
----------------------------------------------- */

ul#portfolio {
    line-height: normal;
}

ul#portfolio li {
    display: inline;
    float: left;
    margin: 0 0 30px 0;
    width: 290px;
}

ul#portfolio li div {
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
    padding-bottom: 10px;
}

ul#portfolio li:nth-child(3n+2) {
	margin-right: 30px;
    margin-left: 30px;
}

ul#portfolio li a,
ul#portfolio li a:visited {
	text-decoration: none;
}

ul#portfolio li img {
	-webkit-box-shadow: 0px 0px 5px #888888;
			-moz-box-shadow: 0px 0px 5px #888888;
			box-shadow: 0px 0px 5px #888888;
	border: 3px solid #ffffff;
	display: block;
    margin: 15px 19px 10px 19px;
}

ul#portfolio li b {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin: 0px 20px;
    width: 250px;
}

ul#portfolio li span {
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin: 0px 20px;
    text-decoration: underline;
    width: 250px;
}

.frames img {
	-webkit-box-shadow: 0px 0px 5px #888888;
		-moz-box-shadow: 0px 0px 5px #888888;
		box-shadow: 0px 0px 5px #888888;
    display: block;
    margin: 0 auto 30px auto;
    max-width: 100%;
}

	.no-boxshadow .frames img {
		border: 1px solid #cccccc;
	}

.clear {
    clear: both;
    padding: 0px 0px 20px 0px;
}

h1.ribbon {
    background-color: #ededed;
    border-bottom: solid 1px #474953;
    border-top: solid 1px #474953;
    color: #47485b;
    float: left;
    font: 14px Arial;
    font-weight: bold;
    height: auto;
    letter-spacing: 0.2px;
    margin-right: 14px;
    margin-bottom: 15px;
    padding: 13px 15px 12px 15px;
    text-indent: 0px;
    text-shadow: none;
    text-transform: uppercase;
    width: 502px;
}

h1.ribbon + p {
	clear: both;
}

	h1.ribbon + p span {
		font-weight: bold;
	}

/* =PAGE - SERVICES
----------------------------------------------- */

#titleServices + div {
	position: relative;
}

#titleServices + div + p {
	width: 360px;
}

#cartoon {
	background-image: url(../img/cartoon-sad.png), url(../img/cartoon-happy.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left bottom, right bottom;
	height: 180px;
	margin: 0 70px -26px 70px;
	padding-top: 30px;
}

	.no-multiplebgs #cartoon {
		background-image: url(../img/cartoon-ie.png);
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	#cartoon h2 {
	    font-family: 'Cantarell', sans-serif;
	    font-size: 18px;
		font-weight: 600;
		margin: 0 auto;
		max-width: 360px;
		text-align: center;
		text-shadow: 0 1px 2px #999999;
		text-transform: uppercase;
	}

/* =PAGE - ABOUT
----------------------------------------------- */

.bio {
	padding-bottom: 30px;
}

.bio img {
	float: left;
	margin-right: 25px;
}

/* =PAGE - CONTACT
----------------------------------------------- */

fieldset {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	padding: 0 25px 0 0;
	width: 50%;
}

.contact {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	float: right;
	padding: 0 0 0 25px;
	width: 50%;
}

/* BUTTONS
----------------------------------------------- */

#content > div:first-child > div#ctas {
    float: right;
    /*margin-top: -71px;*/
}

a#btnPrimary,
a:visited#btnPrimary {
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a4d73), color-stop(100%, #2d2f46)); 
		background: -moz-linear-gradient(#4a4d73, #2d2f46);
		background: -ms-linear-gradient(#4a4d73, #2d2f46);
		background: linear-gradient(#4a4d73, #2d2f46);
	border: 1px solid #2d2f46;
	box-shadow: 0 1px 3px #000000, inset 0 1px 0 #878aa6;
		-moz-box-shadow: 0 1px 3px #000000, inset 0 1px 0 #878aa6;
		-webkit-box-shadow: 0 1px 3px #000000, inset 0 1px 0 #878aa6;
	display: inline-block;
	color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
	font-weight: 600;
	margin-right: 6px;
	padding: 12px 0 14px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 182px;
}

	a:hover#btnPrimary {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58587c), color-stop(100%, #3d3d54)); 
			background: -moz-linear-gradient(#58587c, #3d3d54);
			background: -ms-linear-gradient(#58587c, #3d3d54);
			background: linear-gradient(#58587c, #3d3d54);
	}

	.no-cssgradients a#btnPrimary,
	.no-cssgradients a:visited#btnPrimary {
		background-color: #2d2f46;
	}

a#btnSecondary,
a:visited#btnSecondary {
	-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #801f29), color-stop(100%, #5f111a)); 
		background: -moz-linear-gradient(#801f29, #5f111a);
		background: -ms-linear-gradient(#801f29, #5f111a);
		background: linear-gradient(#801f29, #5f111a);
	border: 1px solid #5f111a;
	box-shadow: 0 1px 3px #000000, inset 0 1px 0 #b2747b;
		-moz-box-shadow: 0 1px 3px #000000, inset 0 1px 0 #b2747b;
		-webkit-box-shadow: 0 1px 3px #000000, inset 0 1px 0 #b2747b;
	display: inline-block;
	color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    font-size: 14px;
	font-weight: 600;
	margin-left: 6px;
	padding: 12px 0 14px 0;
	text-align: center;
	text-decoration: none;
	/*text-shadow: 0 0 1px #b0b2c8;*/
	text-transform: uppercase;
	width: 182px;
}

	a:hover#btnSecondary {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #862d3a), color-stop(100%, #68222b)); 
			background: -moz-linear-gradient(#862d3a, #68222b);
			background: -ms-linear-gradient(#862d3a, #68222b);
			background: linear-gradient(#862d3a, #68222b);
	}

	.no-cssgradients a#btnSecondary,
	.no-cssgradients a:visited#btnSecondary {
		background-color: #5f111a;
	}

/* =MISC
----------------------------------------------- */

hr {
    background-color: transparent;
    border: none;
    clear: both;
    color: #ffffff;
    height: 1px;
    line-height: 1px;
    margin: 0px;
    padding: 0px;
}

hr.tall {
    height: 30px;
}

.safety {
    unicode-bidi: bidi-override;
    direction: rtl;
}

/* =MEDIA QUERY (WIDER THAN 802px)
----------------------------------------------- */

@media screen and (min-width: 801px) {

	/* NAVIGATION */
	
	nav > ul {
	    float: right;
	    margin: 35px 10px 0px 0px;
	}
	
	nav > ul > li > a,
	nav > ul > li > a:visited {
	    border-left: solid 1px #e5e5e5;
	    float: left;
	    padding: 11px 20px 9px 20px;
	}

}

/* =MEDIA QUERY (NARROWER THAN 801px)
----------------------------------------------- */

@media screen and (max-width: 800px) {

	/* HEADER */
	
	header {
		height: auto;
	    padding: 25px 0px;
	    text-align: center;
	}
	
	#logo {
		display: block;
		margin: 0 auto 20px auto;
		float: none;
	}

	/* NAVIGATION */
	
	nav {
		text-align: center;
	}
	
	nav > ul {
		float: none;
	    margin: 0px 0px 0px 0px;
	}
	
	nav > ul > li > a,
	nav > ul > li > a:visited {
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
	    border: none;
	    display: inline;
	    float: none;
	    line-height: 32px;
	    padding: 6px 10px;
	}

	.spotlight {
		background-position: center bottom;
		height: auto;
		padding-bottom: 250px;
	}
	
	.spotlight h1 {
		margin: 0 0 10px 0;
		padding: 0;
	}
	
	.spotlight h1 span {
		display: block;
		line-height: 42px;
	}

	.spotlight p {
	    height: auto;
	    margin: 0px;
	    text-align: center;
	    width: auto;
	}

	.spotlight #ctas {
		text-align: center;
		width: auto;
	}

	.spotlight a#btnPrimary,
	.spotlight a:visited#btnPrimary,
	.spotlight a#btnSecondary,
	.spotlight a:visited#btnSecondary {
		margin: 10px 6px;
	}

	#secondary {
		width: auto;
	}

	#secondary .left,
	#secondary .right {
		float: none;
		padding: 0 25px;
		width: auto;
	}

	#secondary .left p,
	secondary .right ul {
		width: auto;
	}

	#content > div:first-child > div#ctas {
	    float: none;
	    text-align: center;
	}
	
	h1 {
		margin: 0 0 10px 0;
		padding: 10px;
		text-align: center;
	}

	#cartoon {
		background-image: url(../img/cartoon-happy.png);
		background-repeat: no-repeat, no-repeat;
		background-position: center bottom;
		height: 180px;
		margin: 0 0 -26px 0;
		padding-top: 0;
		padding-bottom: 60px;
	}

	#cartoon h2 {
		font-size: 15px;
	}

	.bio img {
		display: block;
		float: none;
		margin: 0 auto 20px auto;
	}

	fieldset {
		padding: 0;
		width: auto;
	}
	
	.contact {
		float: none;
		padding: 0;
		width: auto;
	}

}

/* =MEDIA QUERY (NARROWER THAN 1025px)
----------------------------------------------- */

@media screen and (max-width: 1024px) {

	ul#portfolio li:nth-child(3n+2) {
	    margin-right: 0;
	    margin-left: 0;
	}

	ul#portfolio li {
		width: 50%;
	}

	ul#portfolio li div {
		margin: 0 auto;
		width: 290px;
	}

	h1.ribbon {
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		text-align: center;
	    width: 100%;
	}

	#content div#ctas.center,
	#content > div:first-child > div#ctas.center {
	    float: none;
	    padding-bottom: 15px;
	    text-align: center;
	}
	
	h1.ribbon + p {
		text-align: center;
	}

}

/* =MEDIA QUERY (NARROWER THAN 769px)
----------------------------------------------- */

@media screen and (max-width: 650px) {

	ul#portfolio li {
		clear: both;
		margin-bottom: 15px;
		text-align: center;
		width: 100%;
	}

}

/* =MEDIA QUERY (NARROWER THAN 481px)
----------------------------------------------- */

@media screen and (max-width: 480px) {

	a#btnPrimary,
	a#btnPrimary:visited,
	a#btnSecondary,
	a#btnSecondary:visited {
		display: block;
		margin: 0 auto 10px;
	}

	.spotlight a#btnPrimary,
	.spotlight a:visited#btnPrimary,
	.spotlight a#btnSecondary,
	.spotlight a:visited#btnSecondary {
		display: block;
		margin: 10px auto;
	}

	#cartoon h2 {
		text-transform: none;
	}

}

/* =MEDIA QUERY (NARROWER THAN 321px)
----------------------------------------------- */

@media screen and (max-width: 320px) {

	.spotlight {
	    background: url('../img/Portfolio/spotlight-small.png') no-repeat right bottom;
	    padding-bottom: 200px;
	}

	#content > div:first-child {
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.frames img {
		margin-bottom: 15px;
	}
	
	footer {
	    padding: 15px;
	}

}















